snippet js "javascript"
<script type="text/javascript">
	${1}
</script>
endsnippet

snippet jq "jQuery"
<script src="../../jquery-1.9.1/jquery.js" type="text/javascript"></script>
${1}
endsnippet

snippet bs "bootstrap"
<link rel="stylesheet" href="../../bootstrap-3.3.7-dist/css/bootstrap.css">
<script src="../../bootstrap-3.3.7-dist/js/bootstrap.js"></script>
${1}
endsnippet
